<%= form_for short_uri, remote: :true, format: :js do |f| %>
    <%= f.text_field :user_url %>
    <% short_uri.errors.full_messages.each do |err_msg| %>
        <%= err_msg %>
    <% end %>

    <button class="btn waves-effect waves-light" type="submit" name="action">SHORTEN
      <i class="material-icons right">send</i>
    </button>
<% end %>